* {
    border: 2px solid red;
}

html {
    background-color: grey;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}